## **Projet Data Mining (2024-2025)**

**1/ Analyser et visualiser les données**

***Importation des bibliothèques***

In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.preprocessing import OrdinalEncoder, KBinsDiscretizer
from sklearn.impute import SimpleImputer
from sklearn.feature_selection import VarianceThreshold

***Analyse exploratoire des données***

Exploration initiale

In [12]:
df_assurance=pd.read_csv('train_Insurance.csv')
df_assurance

,Customer Id,YearOfObservation,Insured_Period,Residential,Building_Painted,Building_Fenced,Garden,Settlement,Building Dimension,Building_Type,NumberOfWindows,Geo_Code,Claim
0,H13501,2012,1.0,1,N,V,V,U,1240.0,Wood-framed,without,75117,non
1,H14962,2012,1.0,0,N,V,V,U,900.0,Non-combustible,without,62916,non
2,H17755,2013,1.0,1,V,N,O,R,4984.0,Non-combustible,4,31149,oui
3,H13369,2016,0.5,0,N,V,V,U,600.0,Wood-framed,without,6012,oui
4,H12988,2012,1.0,0,N,V,V,U,900.0,Non-combustible,without,57631,non
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5007,H13682,2013,1.0,0,N,V,V,U,550.0,Ordinary,without,33063,oui
5008,H18342,2012,0.5,0,V,N,O,R,1000.0,Fire-resistive,4,13004,non
5009,H16892,2015,1.0,1,V,N,O,R,480.0,Ordinary,3,94059,non
5010,H18805,2012,0.5,0,V,N,O,R,536.0,Fire-resistive,4,74243,non
5011,H18228,2013,1.0,1,V,V,V,U,NaN,Wood-framed,without,NaN,non

In [13]:
df_assurance.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5012 entries, 0 to 5011
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Customer Id         5012 non-null   object
 1   YearOfObservation   5012 non-null   int64
 2   Insured_Period      5012 non-null   float64
 3   Residential         5012 non-null   int64
 4   Building_Painted    5012 non-null   object
 5   Building_Fenced     5012 non-null   object
 6   Garden              5008 non-null   object
 7   Settlement          5012 non-null   object
 8   Building Dimension  4935 non-null   float64
 9   Building_Type       5012 non-null   object
 10  NumberOfWindows     5012 non-null   object
 11  Geo_Code            4939 non-null   object
 12  Claim               5012 non-null   object
dtypes: float64(2), int64(2), object(9)
memory usage: 509.2+ KB

In [14]:
print("il y a 3 attributs qui contient des valeurs nulls: Garden,Buillding Dimension,Geo_Code")

il y a 3 attributs qui contient des valeurs nulls: Garden,Buillding Dimension,Geo_Code

Statistique descriptives

In [15]:
df_assurance.describe(include='all')

,Customer Id,YearOfObservation,Insured_Period,Residential,Building_Painted,Building_Fenced,Garden,Settlement,Building Dimension,Building_Type,NumberOfWindows,Geo_Code,Claim
count,5012,5012.000000,5012.000000,5012.000000,5012,5012,5008,5012,4935.000000,5012,5012,4939,5012
unique,5012,NaN,NaN,NaN,2,2,2,2,NaN,4,11,1115,2
top,H18228,NaN,NaN,NaN,V,N,O,R,NaN,Non-combustible,without,6088,non
freq,1,NaN,NaN,NaN,3763,2535,2532,2537,NaN,2310,2476,102,3886
mean,NaN,2013.660215,0.869713,0.301077,NaN,NaN,NaN,NaN,1876.898683,NaN,NaN,NaN,NaN
std,NaN,1.383134,0.219496,0.458772,NaN,NaN,NaN,NaN,2267.277397,NaN,NaN,NaN,NaN
min,NaN,2012.000000,0.500000,0.000000,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN
25%,NaN,2012.000000,0.500000,0.000000,NaN,NaN,NaN,NaN,520.000000,NaN,NaN,NaN,NaN
50%,NaN,2013.000000,1.000000,0.000000,NaN,NaN,NaN,NaN,1067.000000,NaN,NaN,NaN,NaN
75%,NaN,2015.000000,1.000000,1.000000,NaN,NaN,NaN,NaN,2280.000000,NaN,NaN,NaN,NaN
max,NaN,2016.000000,1.000000,1.000000,NaN,NaN,NaN,NaN,20840.000000,NaN,NaN,NaN,NaN

Identification des valeurs manquantes NaN

In [16]:
df_assurance.isnull().sum()

Customer Id            0
YearOfObservation      0
Insured_Period         0
Residential            0
Building_Painted       0
Building_Fenced        0
Garden                 4
Settlement             0
Building Dimension    77
Building_Type          0
NumberOfWindows        0
Geo_Code              73
Claim                  0
dtype: int64

Détection des lignes dupliquées

In [17]:
df_assurance.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
5007    False
5008    False
5009    False
5010    False
5011    False
Length: 5012, dtype: bool

***Data Pré-Processing***

Nettoyage des données

Traitement des NaN Remplissage : Garden, Building Dimension, Geo_Code

In [45]:
mf_imputer = SimpleImputer(missing_values=np.nan,strategy='most_frequent')
df_assurance[['Garden']]=mf_imputer.fit_transform(df_assurance.loc[:,['Garden']])

In [46]:
mf_imputer = SimpleImputer(missing_values=np.nan,strategy='median')
df_assurance[['Building Dimension']]=mf_imputer.fit_transform(df_assurance.loc[:,['Building Dimension']])
df_assurance.tail()

,Customer Id,YearOfObservation,Insured_Period,Residential,Building_Painted,Building_Fenced,Garden,Settlement,Building Dimension,Building_Type,NumberOfWindows,Geo_Code,Claim
5007,H13682,2013,1.0,0,N,V,V,U,550.0,Ordinary,without,33063,oui
5008,H18342,2012,0.5,0,V,N,O,R,1000.0,Fire-resistive,4,13004,non
5009,H16892,2015,1.0,1,V,N,O,R,480.0,Ordinary,3,94059,non
5010,H18805,2012,0.5,0,V,N,O,R,536.0,Fire-resistive,4,74243,non
5011,H18228,2013,1.0,1,V,V,V,U,1067.0,Wood-framed,without,NaN,non

In [53]:
df_assurance['Geo_Code'].ffill(inplace=True)
df_assurance.tail(5)

,Customer Id,YearOfObservation,Insured_Period,Residential,Building_Painted,Building_Fenced,Garden,Settlement,Building Dimension,Building_Type,NumberOfWindows,Geo_Code,Claim
5007,H13682,2013,1.0,0,N,V,V,U,550.0,Ordinary,without,33063,oui
5008,H18342,2012,0.5,0,V,N,O,R,1000.0,Fire-resistive,4,13004,non
5009,H16892,2015,1.0,1,V,N,O,R,480.0,Ordinary,3,94059,non
5010,H18805,2012,0.5,0,V,N,O,R,536.0,Fire-resistive,4,74243,non
5011,H18228,2013,1.0,1,V,V,V,U,1067.0,Wood-framed,without,74243,non